In [1]:
import pandas as pd
import numpy as np

In [ ]:
# get data from send data scrip
import orchest

data = orchest.get_inputs()
df = data['imported-dataset']

In [2]:
df = pd.read_csv('C:\\Users\\Cash Crusaders\\Desktop\\My Portfolio\\Projects\\Data Science Projects\\Machine Learning Project 11 - Car Price Prediction\\dataset\\quikr_car.csv')

In [3]:
df.head(3)

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol

In [4]:
from deepchecks.tabular import Dataset

#load data
ds = Dataset(df, cat_features=['name','company','fuel_type'], label='Price')

In [5]:
from deepchecks.tabular.suites import data_integrity
#run suite
integ_suite = data_integrity()
suite_results = integ_suite.run(ds)
suite_results.save_as_html()

c:\Anaconda\envs\machine-learning-env\lib\site-packages\sklearn\model_selection\_split.py:684: UserWarning:

The least populated class in y has only 1 members, which is less than n_splits=4.

c:\Anaconda\envs\machine-learning-env\lib\site-packages\sklearn\model_selection\_split.py:684: UserWarning:

The least populated class in y has only 1 members, which is less than n_splits=4.

c:\Anaconda\envs\machine-learning-env\lib\site-packages\sklearn\model_selection\_split.py:684: UserWarning:

The least populated class in y has only 1 members, which is less than n_splits=4.

c:\Anaconda\envs\machine-learning-env\lib\site-packages\sklearn\model_selection\_split.py:684: UserWarning:

The least populated class in y has only 1 members, which is less than n_splits=4.

c:\Anaconda\envs\machine-learning-env\lib\site-packages\sklearn\model_selection\_split.py:684: UserWarning:

The least populated class in y has only 1 members, which is less than n_splits=4.

'output.html'

In [20]:
integ_suite

Data Integrity Suite: [
	0: IsSingleValue
		Conditions:
			0: Does not contain only a single value
	1: SpecialCharacters
		Conditions:
			0: Ratio of samples containing solely special character is less or equal to 0.1%
	2: MixedNulls
		Conditions:
			0: Number of different null types is less or equal to 1
	3: MixedDataTypes
		Conditions:
			0: Rare data types in column are either more than 10% or less than 1% of the data
	4: StringMismatch
		Conditions:
			0: No string variants
	5: DataDuplicates
		Conditions:
			0: Duplicate data ratio is less or equal to 0%
	6: StringLengthOutOfBounds
		Conditions:
			0: Ratio of string length outliers is less or equal to 0%
	7: ConflictingLabels
		Conditions:
			0: Ambiguous sample ratio is less or equal to 0%
	8: OutlierSampleDetection
	9: FeatureLabelCorrelation(ppscore_params={}, random_state=42)
		Conditions:
			0: Features' Predictive Power Score is less than 0.8
	10: FeatureFeatureCorrelation
		Conditions:
			0: Not more than 0 pairs are correlated above 0.9
	11: IdentifierLabelCorrelation(ppscore_params={})
		Conditions:
			0: Identifier columns PPS is less or equal to 0
]

In [11]:
df['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [13]:
# clean the special characters
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [16]:
df=df[df['year'].str.isnumeric()]

In [17]:
df['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '2003', '2004', '1995', '2002', '2001'], dtype=object)

In [19]:
df['company'].unique()

array(['Hyundai', 'Mahindra', 'Maruti', 'Ford', 'Skoda', 'Audi', 'Toyota',
       'Renault', 'Honda', 'Datsun', 'Mitsubishi', 'Tata', 'Volkswagen',
       'I', 'Chevrolet', 'Mini', 'BMW', 'Nissan', 'Hindustan', 'Fiat',
       'Force', 'Mercedes', 'Land', 'Jaguar', 'Jeep', 'Volvo'],
      dtype=object)

In [21]:
# re-run suite for fixed data
ds = Dataset(df, cat_features=['name','company','fuel_type'], label='Price')

suite_results = integ_suite.run(ds)
suite_results.save_as_html()

c:\Anaconda\envs\machine-learning-env\lib\site-packages\sklearn\model_selection\_split.py:684: UserWarning:

The least populated class in y has only 1 members, which is less than n_splits=4.

c:\Anaconda\envs\machine-learning-env\lib\site-packages\sklearn\model_selection\_split.py:684: UserWarning:

The least populated class in y has only 1 members, which is less than n_splits=4.

c:\Anaconda\envs\machine-learning-env\lib\site-packages\sklearn\model_selection\_split.py:684: UserWarning:

The least populated class in y has only 1 members, which is less than n_splits=4.

c:\Anaconda\envs\machine-learning-env\lib\site-packages\sklearn\model_selection\_split.py:684: UserWarning:

The least populated class in y has only 1 members, which is less than n_splits=4.

c:\Anaconda\envs\machine-learning-env\lib\site-packages\sklearn\model_selection\_split.py:684: UserWarning:

The least populated class in y has only 1 members, which is less than n_splits=4.

'output (1).html'

In [23]:
# remove duplicates
df[df.duplicated(['name'], keep=False)]

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
876,Maruti Suzuki Dzire,Maruti,2016,"4,50,000","2,500 kms",Diesel
879,Maruti Suzuki Alto LXi BS III,Maruti,2005,"95,000","65,000 kms",Petrol
880,Maruti Suzuki Swift Dzire Tour VDi,Maruti,2009,"2,50,000","51,000 kms",Diesel
886,Toyota Corolla Altis,Toyota,2009,"3,00,000","1,32,000 kms",Petrol
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel

In [24]:
df.shape

(842, 6)

In [25]:
df[df[['name','company','year','Price','kms_driven','fuel_type']].duplicated()==True]

,name,company,year,Price,kms_driven,fuel_type
14,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
15,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
20,Mahindra Scorpio S10,Mahindra,2016,"3,50,000","43,000 kms",Diesel
24,Hyundai i20 Sportz 1.2,Hyundai,2012,"1,00,000","55,000 kms",Petrol
25,Hyundai i20 Sportz 1.2,Hyundai,2012,"1,00,000","55,000 kms",Petrol
...,...,...,...,...,...,...
626,Tata Sumo Gold EX BS IV,Tata,2012,"2,10,000","75,000 kms",Diesel
641,Maruti Suzuki Swift VDi BS IV,Maruti,2012,"2,80,000","48,006 kms",Diesel
727,Mahindra Scorpio S4,Mahindra,2015,"8,65,000","30,000 kms",Diesel
861,Hyundai Getz Prime 1.3 GLX,Hyundai,2009,"1,15,000","20,000 kms",Petrol
880,Maruti Suzuki Swift Dzire Tour VDi,Maruti,2009,"2,50,000","51,000 kms",Diesel

In [28]:
#drop the duplicates
df.drop_duplicates(subset=['name','company','year','Price','kms_driven','fuel_type'],keep=False, inplace=True)

In [29]:
df[df[['name','company','year','Price','kms_driven','fuel_type']].duplicated()==True]

Empty DataFrame
Columns: [name, company, year, Price, kms_driven, fuel_type]
Index: []

In [30]:
ds = Dataset(df, cat_features=['name','company','fuel_type'], label='Price')

suite_results = integ_suite.run(ds)
suite_results.save_as_html()

c:\Anaconda\envs\machine-learning-env\lib\site-packages\sklearn\model_selection\_split.py:684: UserWarning:

The least populated class in y has only 1 members, which is less than n_splits=4.

c:\Anaconda\envs\machine-learning-env\lib\site-packages\sklearn\model_selection\_split.py:684: UserWarning:

The least populated class in y has only 1 members, which is less than n_splits=4.

c:\Anaconda\envs\machine-learning-env\lib\site-packages\sklearn\model_selection\_split.py:684: UserWarning:

The least populated class in y has only 1 members, which is less than n_splits=4.

c:\Anaconda\envs\machine-learning-env\lib\site-packages\sklearn\model_selection\_split.py:684: UserWarning:

The least populated class in y has only 1 members, which is less than n_splits=4.

c:\Anaconda\envs\machine-learning-env\lib\site-packages\sklearn\model_selection\_split.py:684: UserWarning:

The least populated class in y has only 1 members, which is less than n_splits=4.

'output (2).html'

In [32]:
# save the correct dataframe
df.to_csv('C:\\Users\\Cash Crusaders\\Desktop\\My Portfolio\\Projects\\Data Science Projects\\Machine Learning Project 11 - Car Price Prediction\\dataset\\fixed_dataset.csv')

In [ ]:
#send data to EDA
orchest.output((df),name='fixed-df')