In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('C:\\Users\\Cash Crusaders\\Desktop\\My Portfolio\\Projects\\Data Science Projects\\Machine Learning Project 11 - Car Price Prediction\\dataset\\X_train.csv')
df.head()

   Unnamed: 0         0         1         2         3
0           0 -0.894449  1.774319  1.802764  0.887381
1           1  0.432211  1.072167 -0.918458 -2.489388
2           2  0.026843 -0.687345 -0.918458 -0.863536
3           3  0.100546  1.196076 -0.529712  0.387119
4           4  0.432211 -0.051278 -0.918458 -2.114192

In [ ]:
'name,company,year,fuel_type,Mileage'

In [5]:
numpy_array = np.array([[1, 2, 3],[3, 4, 5]])

In [9]:
numpy_array.shape

(2, 3)

In [10]:
array_to_df = pd.DataFrame(numpy_array)

In [11]:
array_to_df

   0  1  2
0  1  2  3
1  3  4  5

In [12]:
array_to_df.shape

(2, 3)

In [13]:
df_to_array = np.asarray(array_to_df)

In [15]:
df_to_array.shape

(2, 3)